@tailwind base;
@tailwind components;
@tailwind utilities;

.dish {
  max-width: initial;
}

.nv-icon {
  border-radius: 0.18rem;
}

.menu-heading {
  font-size: 1.6rem;
  line-height: 1.2;
  font-weight: 600;
}

.c-icon {
  --star-active: #f3c116;
  --star-inactive: #e8e8e8;
  fill: var(--star-inactive);
}

.c-icon.active {
  fill: var(--star-active);
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 10px;
  max-width: 500px;
  align-items: start;
}

.add-btn {
  border: solid 1px #ef4f5f;
  border-radius: 5px;
  font-weight: 500;
  color: #ef4f5f;
  width: 60px;
  height: 30px;
}

.add-btn:hover {
  background: rgba(239, 79, 95, 0.1);
}

.add-btn-active {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cart {
  padding: 10px;
  height: fit-content;
}

.cart-title {
  font-size: 24px;
  font-weight: 600;
}
